<!DOCTYPE html>
<html>

<head>
    <title>burgerstream</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <h3>burgerstream</h3>
    <h1>Connect to {{ sitename }}</h1>
    <p>Please connect using a compatible client</p>
    <div class="list">
        <a href="https://example.org/">Placeholder</a>
    </div>
</body>

</html>